* {
    padding: 0;
    margin: 0;


    font-family: Arial, Helvetica, sans-serif;
    color:rgb(43, 43, 43);
}

h1 {
    font-size: 2rem;
    padding: 10px 25px;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:rgb(97, 97, 97);
}


body {
    display: grid;
    grid-template: 0.5fr 2fr 2fr / 0.3fr 3fr 2fr 0.3fr;
    grid-template-areas: 
        "title title title title"
        "space-left vehicles transfer space-right"
        "space-left transactions transfer space-right";


    background-color: hsl(0, 0%, 97%);
    
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;

    background-color: hsl(0, 0%, 93%);
}
.vehicles {
    grid-area: vehicles;
}
.transactions {
    grid-area: transactions;
}
.transfer {
    grid-area: transfer;

}
.box {
    border-radius: 25px;
    box-shadow: 0px 0px 30px 3px hsl(0, 0%, 93%);
    margin: 25px;
    padding: 35px 25px;
    background-color: white;

    transition: transform 0.1s;
}
.box:hover {
    transform: scale(1.015);
}

#transfer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 86%;

    padding: 20px 0;

}

.row {
    display: flex;
    gap: 20px;

    padding: 0.5em;
    border-bottom: 1px dotted black;
}
.row:hover {
    background-color: hsl(0, 0%, 97%);
}
.row p {
    color: rgb(109, 109, 109);
}

button {
    color: whitesmoke;
    background-color: #7b7bff;

    border: none;
    border-radius: 1000000px;

    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-top: 1em;

    transition: transform 0.2s, background-color 0.2s;
}
button:hover {
    background-color: rgb(65, 65, 175);
    transform: scale(1.05);
}

#charging-img {
    filter: blur(3px);
}
#charging-img.on {
    filter: blur(1px) brightness(0) saturate(100%) invert(41%) sepia(67%) saturate(627%) hue-rotate(202deg) brightness(101%) contrast(105%);}
